<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Web terminal</title>

    <!-- Bootstrap core CSS -->
    <link href="{{static_url("bootstrap/css/bootstrap.min.css")}}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{{static_url("css/index.css")}}" rel="stylesheet">

  </head>

  <body>
    <div class="container">
      <form role="form" id="form" onsubmit="return false;"> <!-- onsubmit to avoid submit the form when enter text input -->
        <div class="form-group">
          <textarea id="output" class="form-control" rows="15" disabled="true"></textarea>
        </div>
        <div class="input-group">
          <input type="text" class="form-control" placeholder="command" id="input" onkeydown= "onEnter(event)">
          <button type="button" class="btn btn-default" onclick="onClickSubmit()">Submit</button>
          <a href="testdetail">查看细节</a>
        </div>
      </form>
    </div><!-- /.container -->

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{{static_url("js/jquery-3.2.1.js")}}"></script>
    <script src="{{static_url("bootstrap/js/bootstrap.min.js")}}"></script>
    <script src="{{static_url("js/index.js")}}"></script>
  </body>
</html>
